<% if signed_in? %>
    Ahoj
<% else %>

<div class=".text-center", id="homepage">
<h1>Vítejte v aplikaci Faktura-api</h1>

<h2>
  Pro vytvoření učtu je třeba se registrovat.<a></a> Registrace je zdarma.</a>

</h2>

<%= link_to "Registrovat se!", new_user_registration_path, class: "button radius" %>
</div>


<% end %>