<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dobrý den, <%= @clients.name %></h1>
<p>
  Zasíláme Vám vystavenou fakturu <%= @invoice.numb_invoice %><br>
</p>
<p>
  S Pozdravem
</p>

</body>
</html>